:root {
  --size_font-small: 8px;
  --size_font-middle: 10px;
  --size_font-sub: 12px;
  --size_font-main: 14px;
  --size_font-large: 16px;
  --gap_small: 4px;
  --gap_middle: 8px;
  --gap_sub: 12px;
  --gap_main: 16px;
  --radius_small: 2px;
  --radius_middle: 4px;
  --radius_sub: 6px;
  --radius_main: 8px;
  --color_red: #ff4040;
  --color_orange: #ffa500;
  --color_green: #84e046;
  --color_blue: #3cb6fd;
  --color_blue-light: #84d2ff;
  --color_blue-dark: #008fe2;
  --color_purple: #d864e7;
  --color_purple-light: #f7b7ff;
  --color_purple-dark: #a633bd;
  --color_border: #d3d3d3;
  --color_border-light: #eeeeee;
  --color_border-dark: #aaaaaa;
  --color_background: #f5f5f5;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color_border);
    border-radius: 4px;
    cursor: default;
  }
}
html {
  font-family: 'Microsoft JhengHei';
  font-size: var(--size_font-main);
  line-height: 1.5;
}
body {
  overflow: hidden;
  margin: 0;
}
